@charset "utf-8";

:root {
    --text-color: #222222;
    --background-color: #efefef;
  }

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    transition: all  0.5s ease;
}

h1 {
    margin: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: all  0.5s ease;
}

button {
    border: none;
}

span {
	display:inline-block;
}

.un_topAnimation {
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    position: fixed;
    z-index: 1;
}

.un_topAnimation_bg {
    height: 100%;
    width: 100%;
    background-color: #222222;
    position: fixed;
}

.un_topAnimation_ttl {
    position: relative;
    text-align: center;
    color: #ffffff;
    font-size: 2.25rem;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}

.ttl {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 2.25rem;
    white-space: nowrap;
    text-transform: uppercase;
}

.ly_ttl {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
}

.sub_ttl {
    text-align: center;
    font-size: 1.75rem;
    white-space: nowrap;
}

.ly_sub_ttl {
    position: absolute;
    top: 56.5%;
    left: 50%;
    transform: translateX(-50%);
}

.bl_menue_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 2.5%;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid var(--text-color);
}

.ly_menue_wrapper {
    width: 40%;
    position: absolute;
    top: 92.5%;
    left: 50%;
    transform: translateX(-50%);
    transition: all  0.5s ease;
}

.el_menue {
    font-size: 50px;
    color: var(--text-color);
    background-color: var(--background-color);
    transition: all  0.5s ease;
}