@charset "utf-8";

:root {
  --text-color: #222222;
  --background-color: #efefef;
  --window-background-color: #21212b;
  --window-inner-background-color: #282a36;
  --window-text-color: #efefef;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  transition: all 0.5s ease;
}

h1 {
  margin: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.5s ease;
}

p {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  padding: 0;
}

span {
  display: inline-block;
}

.un_topAnimation {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  position: fixed;
  z-index: 1;
}

.un_topAnimation_bg {
  height: 100%;
  width: 100%;
  background-color: #222222;
  position: fixed;
}

.un_topAnimation_ttl {
  position: relative;
  text-align: center;
  color: #ffffff;
  font-size: 2.25rem;
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}

.ttl {
  text-align: center;
  font-family: "Press Start 2P", cursive;
  font-size: 2.25rem;
  white-space: nowrap;
  text-transform: uppercase;
}

.ly_ttl {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
}

.sub_ttl {
  text-align: center;
  font-size: 1.75rem;
  white-space: nowrap;
}

.ly_sub_ttl {
  position: absolute;
  top: 56.5%;
  left: 50%;
  transform: translateX(-50%);
}

.ly_menu {
  display: flex;
  width: 40%;
  max-width: 450px;
  position: absolute;
  top: 92.5%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

.bl_menu {
  justify-content: space-between;
  padding: 0 2.5%;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid var(--text-color);
}

.el_menuItem {
  font-size: 50px;
  color: var(--text-color);
  background-color: var(--background-color);
  transition: all 0.5s ease;
}

.ly_window {
  position: absolute;
}

.bl_window {
  border-radius: 5px;
  color: var(--window-text-color);
  background-color: var(--window-background-color);
}

.ly_windowBar {
  width: 100%;
  height: 35px;
}

.bl_windowBar {
  border-bottom: 1px solid #888888;
  display: flex;
  align-items: center;
}

.el_window_button {
  background-color: rgba(0, 0, 0, 0);
  font-size: 20px;
}

.ly_window_inner {
  height: calc(100% - 50px);
}

.bl_window_inner {
  display: flex;
  justify-content: space-between;
}

.ly_windowMenu {
  width: 25%;
}

.bl_windowMenu {
  padding: 15px;
}

.ly_windowMenuItem {
  width: 100%;
}

.el_windowMenuItem {
  font-size: 20px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  color: var(--window-text-color);
  background-color: var(--window-background-color);
  padding: 5px 15px;
}

.el_windowMenuItem:hover {
  background-color: var(--window-inner-background-color);
}

.el_windowMenuItem > p {
  margin-left: 5px;
}

.ly_windowBody {
  width: 75%;
}

.bl_windowBody {
  padding: 15px;
  background-color: var(--window-inner-background-color);
  border-bottom-left-radius: 5px;
}

.bl_snsWindowBody {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.bl_snsWindowBodyItem {
  color: var(--window-text-color);
  text-align: center;
}

.bl_snsWindowBodyItem > i {
  font-size: 50px;
}

.bl_aboutWindowBody {
  display: flex;
  height: 100%;
}

.ly_aboutWindowBodyProfile {
  width: 25%;
}

.bl_aboutWindowBodyProfile {
  text-align: center;
}

.ly_aboutWindowBodyProfileIcon {
  width: 100%;
}

.bl_aboutWindowBodyProfileIcon {
  border-radius: 50%;
  border: solid 1px #888888;
}

.ly_aboutWindowBodyDescription {
  width: 80%;
}

.bl_aboutWindowBodyDescription {
  overflow-y: auto;
  padding: 15px 30px;
}

.bl_aboutWindowBodyDescriptionContent {
  display: flex;
  column-gap: 5px;
  margin-bottom: 10px;
}

.bl_aboutWindowBodyDescriptionContentTitle {
  min-width: 12.5%;
}

.hp_red {
  color: #ff0000;
}

.hp_yellow {
  color: #ffff00;
}

.hp_green {
  color: #00ff00;
}
