@charset "utf-8";

:root {
    --text-color: #ffffff;
    --bg-color: #222222;
}

html {
    scroll-behavior: smooth;
    font-family: "游ゴシック Light", "游ゴシック", "YuGothic", sans-serif;
    font-weight: 200;
    font-size: 15px;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
    list-style: none;
}

.header {
    position: fixed;
    z-index: 998;
}

.ly_colorButton {
    position: absolute;
    margin: 5vh 10vw;
}

.el_colorButton {
    display: block;
    width: 25px;
    height: 25px;
    background-color: var(--text-color);
    border-radius: 50%;
}

.ly_animation {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 999;
}

.el_animation {
    background-color: #000000;
    height: 100%;
    width: 100%;
}

.ly_animation_content {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.el_animation_text {
    color: #ffffff;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.el_animation_underline {
    overflow: hidden;
}

.js_animation_underline {
    background-color: #ffffff;
    border: none;
    height: 2px;
    width: 0;
}

main {
    position: fixed;
    width: 100%;
    height: 100%;
}

.ly_topContent {
    width: 80%;
    height: 100vh;
    margin-left: 10%;
}

.el_topContent {
    position: absolute;
    width: 100%;
    height: 100%;
}

.el_topContent_text {
    margin-top: 30vh;
    font-size: 3.5rem;
}

.el_topContent_name {
    -webkit-text-stroke: 1px var(--text-color);
    color: rgba(0, 0, 0, 0); 
    font-size: 1.5rem;
}

@media screen and (min-width: 750px) {
    .ly_colorButton {
        position: absolute;
        margin: 85vh 10vw;
    }

    .el_colorButton {
        width: 45px;
        height: 45px;
    }

    .ly_topContent {
        width: 100%;
    }

    .el_topContent_text {
        margin-top: 15vh;
        font-size: 15rem;
        white-space: nowrap;
    }

    .el_topContent_name {
        margin-left: 1.5rem;
        font-size: 6rem;
    }
}